---
import Layout from "../../layouts/Layout.astro";
import { useSanityClient } from "@sanity/astro";
import PortableText from "../../components/PortableText.astro";
import SanityImage from "../../components/SanityImage.astro";
import '@astrojs/prism'
import 'prismjs/components/prism-markup-templating'

  const client = useSanityClient();
  const post = await client.fetch(
    `*[_type == "post" && defined(publishedAt) && slug.current == $slug] | order(publishedAt desc) {
			...,
			authors[]-> {
				name
			}
		}[0]`, {
      slug: Astro.params.slug,
    }
  );

const byline = (post.authors || []).map((a:any) => a.name).join(", ");
---

<Layout title={post.title}>
  <article>
    <h1>{post.title}</h1>
		<p>Written by {byline}</p>
    <SanityImage node={post.poster} width="600" />
    <PortableText value={post.blurb} />
    <PortableText value={post.text} />
  </article>
</Layout>
