---
import {VisualEditing} from '@sanity/astro/visual-editing'
import {sanityDraftMode} from 'sanity:draft-mode'

export type props = {
  title: string
}
const {title} = Astro.props

// Enable visual editing when draft mode is enabled
const visualEditingEnabled = sanityDraftMode.isEnabled(Astro.cookies)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <VisualEditing enabled={visualEditingEnabled} />
  </body>
</html>
